h1 {
    text-align: center; /*alinhamento do texto em relação ao bloco em que ele se encontra*/
    font-weight: normal; /*indica se o texto é em negrito/destaque ou não*/ 
    text-decoration: wavy underline green; /*serve para "decorar" o texto, colocando underlines, overlines, e até mesmo retirando-as*/
    letter-spacing: 15px; /*aumenta/diminui a separação das letras no texto*/
    font-size: 75px;
}

p {
    font-weight: 700;
    line-height: 2; /*aumenta/diminui a separação das linhas do texto*/
}

a {
    text-decoration: none; /*removendo a underline padrão das anchor tags*/
}