h2 {
    font-size: 2rem; /*será multiplicado 2x pelo valor original do fontsize do root element*/
}
p {
    font-size: 0.8rem;
}

ul {
    font-size: 1.1rem; /*diferente do em, não haverá o efeito bola de neve, tendo em vista que o rem não depende dos parentes, mas sim do root*/
}

button {
    font-size: 1.5rem;
    width: 5rem;
    height: 5rem;
}