section {
    background-color: #722e72;
    width: 700px;
    height: 700px;
}

div {
    background-color: #8d99ae;
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 30px;
    border: 2px solid black;
    line-height: 200%; /*80px*/
}

article {
    font-size: 20px;
}

h2 {
    font-size: 2em; /*ira multiplicar o font-size em duas vezes maior que o font-size do parent *neste caso, article**/ /*apenas funciona assim com o font-size*/
    /*com outros elementos, o em ira multiplicar pelo font-size do proprio elemento*/
    margin: 1.5em; /*multiplica 1.5 vezes o valor do font-size do proprio H2*/
}

button {
    font-size: 2em;
    padding: 0 1em;
    border-radius: 0.5em; /*ems são bons para designs responsiveis, tendo em vista que, com a utilização deles, é possivel sempre mantem uma proporção entre o em e o elemento pai*/
}

ul {
    font-size: 0.7em; /*o problema de usar EM é que ele sempre ira multiplicar, no font-size, pelo parente; nesse caso, como temos varias ul aninhadas, ele multiplicara 0.7 a primeira, dps 0.7 a q foi multiplicada por 0.7/*
    /*nesse caso, o melhor a se fazer é usar a unidade REM, que é baseada no font-size do root element (<html>); nesse caso, se o font-size padrão do html for 20px, 1rem será 20px, 2rem será 40px, mesmo se existirem elementos aninhados*/
}

