body {
    background-color: wheat;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1, h2 {
    color: darkslateblue;
}

#signup {       /*id*/
    background-color: #fb5607;
    color: black;
}

.tag{
    background-color: #fb5607;
    color: white;
    font-size: 16px;
}

/*
span a {
    color: #4cc9f0;
}
*/

.post a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

footer a {
    color: red;
}

input[type=password] {
    color: #fb5607;
}

.post button:hover {
    background-color: #9cc1c9;
    color: white;
    text-decoration: wavy underline green;
}

a[href*=google] {
    color: purple;
}

.post:nth-of-type(3n) {
    background-color: #9cc1c9;
}

.post a:hover {
    text-decoration: underline;
}

h2::first-letter {
    font-size: 150%;
    color: #cc00ff;
}

p::first-line {
    font-size: 105%;
    color: #fb5607;
    text-decoration: underline black;
}

p::selection {
    text-decoration: underline white;
    background-color: rgb(139, 139, 211);
}

::selection {
    background-color: aquamarine;
} /*sem nada significa que sera aplicado em todo o documento*/